/* This file is for your main application css. */
@import "./phoenix.css";

/* Setup for the board for GoL*/
.square {
    float: left;
    position: relative;
    width: 8%;
    padding-bottom: 8%;
    margin: 1%;
    overflow: hidden;
    display: table-cell;
}

.square-on {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 98%;
    width: 98%;
    padding: 1% 1%;
    background-color: lightblue;
}

.square-off {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 98%;
    width: 98%;
    padding: 1% 1%;
    background-color: lightgrey;
}

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}
