<section class="phx-hero">
  <h1>Game of Li[f|v]e</h1>
</section>

<section class="board">
  <%= for x <- 0..9, y <- 0..9 do %>
    <div class="square">

      <% div_class = "square-#{Map.get(@coordinates, {x, y})}" %>
      <div class="<%= div_class %>">
          <%= "{#{x}, #{y}}" %>
      </div>
    </div>
  <% end %>
</section>
